{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Seznam restaurací!</h1>
</div>

<div id="content">
	{foreach $restaurants as $restaurant}
		<div>
			<h2>{$restaurant->name}</h2>
			<address>{$restaurant->address}</address><a href="geo:{$restaurant->gps->lat},{$restaurant->gps->lng}">Navigovat</a>
			<a href="{plink detail $restaurant->id}">Detail</a>
		</div>
	{/foreach}
</div>

