{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Seznam restaurací!</h1>
</div>

<div id="content">
	{foreach $restaurants as $restaurant}
		<div>
			<h2>{$restaurant->name}</h2>
			<address>{$restaurant->address}</address><a href="geo:{$restaurant->gps->}">Navigovat</a>
			<a href="{$restaurant->url}">{$restaurant->url|truncate:20}</a>
		</div>
	{/foreach}
</div>

