{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Restaurace</h1>
</div>

<div id="content">
	{foreach $restaurants as $restaurant}
		<div class="restaurant">
		<h2>{$restaurant->name}</h2>
		{include '@restaurant.latte', restaurant: $restaurant}
		</div>
	{/foreach}
	
	<div>
		<a href="{plink register}">Registrovat k zasílání</a>
	</div>
</div>
